<div class='container'>
  <div class='row'>
    <div class='col-xs-12'>
      <hr>
      <app-server></app-server>
      <app-ed-comp></app-ed-comp>
      <hr>
    </div>
    <app-cockpit
      (serverCreated)="onServerAdded($event)"
      (bpCreated)="onBpAdded($event)"
    ></app-cockpit>
    <br/>
    <div class="row">
      <div class="col-xs-12">
        <app-server-element
          *ngFor='let serverElement of serverElements'
          [element]="serverElement"
        >
          <p>
            <strong *ngIf="serverElement.type==='server'"
                    style="color:red"
            >{{serverElement.content}}
            </strong>
            <em *ngIf="serverElement.type==='blueprint'"
            >{{serverElement.content}}
            </em>
          </p>
        </app-server-element>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
    </div>
  </div>
  <div class="row odd-even">

      <div class="col-xs-12">
        <app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber">
        </app-odd>
      </div>
      <div class="col-xs-12">
        <app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even>
      </div>

  </div>

    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <app-new-account (accountAdded)="onAccountAdded($event)"></app-new-account>
        <hr>
        <app-account
          *ngFor="let acc of accounts; let i = index"
          [account]="acc"
          [id]="i"
          (statusChanged)="onStatusChanged($event)"></app-account>
      </div>
    </div>

</div>


